 @model  Kitap
 <form  asp-controller="Ekle" asp-action="Ekle" method="post">
   KitapId:  <input name="KitapId"    />
     <br />
   KitapAdi: <input asp-for="KitapAdi"/><br />
   KitapTuru:<input  asp-for="Tur"/>
 </form>
 